<!doctype html>
<html lang="en-AU">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# Most styles / scripts should go in a template that extends this (eg. public.html) #}
    {# Only add stuff here if you are 100% sure it should go everywhere on the site #}
    {% block head %}{% endblock %}
  </head>
  <body>
  {% block content %}{% endblock %}
  {% block bodyend %}{% endblock %}
  </body>
</html>
