{% extends "base.html" %}
{% load static %}
{% load escapejson %}
{% load render_entry_point from alliance_webpack %}
{% block title %}My Site{% endblock %}
{% block head %}
  {% render_entry_point entry_point 'css' %}
{% endblock %}
{% block content %}
  <div id="root"></div>
{% endblock %}
{% block bodyend %}
  <script>
      window.__APP_CONTEXT__ = {{ app_context|escapejson }}
  </script>
  <!-- This csrf_token is included to force Django to set the CSRF
       cookie, whose value we append to unsafe HTTP requests at the
       API level. The value stored in this hidden field
       is never explicitly submitted with any request, and should not be
       relied upon or accessed. -->
  {% csrf_token %}
  {% if DEBUG %}
    {# See https://reactjs.org/docs/cross-origin-errors.html #}
    {% render_entry_point entry_point 'js' attrs="crossorigin" %}
  {% else %}
    {% render_entry_point entry_point 'js' %}
  {% endif %}
{% endblock %}
