{% extends "base.html" %}

{% block head %}
  {# See alliance_bundle docs: for dev mode we still need 'css' bundles even though there's actually no CSS #}
  {# alliance_bundle 'vendor-common' 'css' #}
  {# Include default CSS here for public pages #}
  {% block extrastyles %}
    {# Pages can add extra page specific styles here as required. #}
  {% endblock %}
{% endblock %}

{% block bodyend %}
  {# alliance_bundle 'vendor-common' 'js' #}
  {# Include default JS here for public pages #}
  {% block extrascripts %}
    {# Pages can add extra page specific scripts here as required. #}
  {% endblock %}
{% endblock %}
