*.mwb.bak
*.pyc

.DS_Store
.idea
.tox

SECRET_KEY

# Third party packages
node_modules

# dev files
venv/
build/

# Media files
media/

# Log files
log/
npm-debug.log
yarn-error.log
lerna-debug.log
tsconfig.tsbuildinfo

# Ipython noteboots
.ipynb_checkpoints
*.ipynb

# Temp files
django-root/temp/*

# CI files - pip installs here
/src

.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.pnp.*
