.token.atrule,
.token.class-name {
    color: #fac863;
}

.prism-highlight {
    background: #282c34;
    color: #ffffff;
    overflow: auto;
    tab-size: 1.5em;
    -webkit-overflow-scrolling: touch;
    @apply my-10 -mx-8 rounded-lg font-mono;
}
.token-line {
    @apply font-mono !important;
}
.collapse-box .prism-highlight {
    @apply mx-0 my-0;
}

.code-example .prism-highlight {
    @apply mx-0 my-0;
    border-radius: 0;
}

.prism-highlight > code[class*='prism-code-'],
.prism-highlight > pre[class*='prism-code-'],
.prism-highlight > pre.prism-code {
    @apply m-4 whitespace-pre-wrap break-words text-sm h-auto;
}

.prism-highlight + .prism-highlight {
    margin-top: 20px;
}

.prism-highlight-code-line {
    background-color: rgba(255, 255, 255, 0.2);
    @apply -mx-4 px-4 block;
}
