.token.atrule,
.token.class-name {
    color: #fac863;
}

.prism-highlight {
    background: #282c34;
    color: #ffffff;
    overflow: auto;
    tab-size: 1.5em;
    -webkit-overflow-scrolling: touch;
    @apply mt-10;
    @apply mb-10;
    @apply pl-10;
    @apply pr-10;
    @apply -ml-10;
    @apply -mr-10;
}

.prism-highlight > code[class*='prism-code-'],
.prism-highlight > pre[class*='prism-code-'],
.prism-highlight > pre.prism-code {
    height: auto !important;
    margin: 1rem;
    font-size: 14px;
    line-height: 20px;
    white-space: pre-wrap;
    word-break: break-word;
}

.prism-highlight + .prism-highlight {
    margin-top: 20px;
}

.prism-highlight-code-line {
    background-color: #353b45;
    display: block;
    margin: -0.125rem calc(-1rem - 15px);
    padding: 0.125rem calc(1rem + 15px);
}
