<p>
  Hi {{ user.get_full_name }},
</p>

{% if is_new_user %}
  <p>
    Your new account has been created for {{ user.email }}. To activate your account and log in for the first time,
    please click the link below.
  </p>
{% else %}
  <p>
    An account already exists under the email address {{ user.email }}. To activate your account and log in for the first time, please click the link below.
  </p>
{% endif %}

<p><a href="{{ activation_url }}">{{ activation_url }}</a></p>

<p>
  This link will expire in {{ link_expiry_days }} days. If you have problems accessing the link, you can copy and paste
  it into your browser.
</p>
