@tailwind base;
@tailwind components;
@tailwind utilities;

html {
   @apply bg-white antialiased;
}

.td-type-desc p:last-child, .tooltip p:last-child {
   margin-bottom: 0;
}

.algolia-autocomplete {
   width: 100%;
}

.mdx a {
   font-weight: 600;
   @apply border-b border-cyan-500 hover:border-b-2;
}
.mdx blockquote p:last-child, .mdx blockquote ul:last-child  {
   margin-bottom: 0;
}
.mdx strong {
   font-weight: bold;
}

.code-examples dt {
     @apply font-semibold text-sm;
}

.mdx h1 {
   @apply text-3xl;
}
.mdx h1:first-child {
   @apply mt-0;
}
.mdx h2 {
   @apply text-2xl mb-4 mt-8;
}
.mdx h2:where(hr+*) {
   margin-top: 0;
}
.mdx h3 {
   @apply text-xl;
}
.mdx hr {
   @apply my-10;
}
