*.mwb.bak
*.pyc

.DS_Store
.idea
.tox

**/.env
.sentryclirc
SECRET_KEY

# Third party packages
bower_components
node_modules
requirements/src

# dev files
frontend/dev/*
frontend/dist/report-analyze.html
venv/

# Media files
assets/
media/

# Log files
log/
npm-debug.log

# Temp files
django-root/temp/*
